h1,
h2,
h3,
h4,
h5 {
  color: #ddd;
  font-family: "Verdana", sans-serif;
}

b,
strong {
  color: #fff;
}

a {
  color: #eee;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
  overflow-x:scroll;
  color: #ccc;
  font-family: "Georgia", serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #212529;
}

body {
  max-width: min(800px, 100%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  max-width: min(800px, 100%);
  font-size: 0.8em;
}

.site-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  /* text-align: center; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.block {
  border: 1px dotted white;
  padding: 5px 15px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block.author-note {
  border: 3px dashed #4c1d95;
  font-size: 0.8em;
  font-style: italic;
  padding: 5px 15px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

.small {
  font-size: 0.8em;
}

.wave {
  background: #111;
  color: #fff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}

table, th, td {
    border: 1px solid;
    padding: 3px;
}

blockquote {
  background-color: #111111;
  border-radius: 5px;
}
blockquote p {
  padding: 15px;
}

details {
    padding: 5px;
    font-size: 24px;
    border: 1px dashed;
}

details > summary {
    font-size: 1.0em;
}
